<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Use SQLiteDatabase -->
    <add key="D5A705D6-4553-4FA8-8642-56176F0BCFF4" value="13A75018-8A24-413D-A731-C558C8FAF08F"/>
    <!-- Use SqlServerDatabase -->
    <!--<add key="D5A705D6-4553-4FA8-8642-56176F0BCFF4" value="ECF542D9-ABB3-4E82-8045-7E13F1727695"/>-->
    <add key="ConnectionString" value="Data Source=localhost;Integrated Security=true;Initial Catalog=FoxTunes"/>
  </appSettings>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
</configuration>