<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Use SQLiteDatabase -->
    <!--<add key="D5A705D6-4553-4FA8-8642-56176F0BCFF4" value="13A75018-8A24-413D-A731-C558C8FAF08F" />-->
    <!-- Use SqlServerDatabase -->
    <add key="D5A705D6-4553-4FA8-8642-56176F0BCFF4" value="ECF542D9-ABB3-4E82-8045-7E13F1727695"/>
    <add key="ConnectionString" value="Data Source=localhost;Integrated Security=true;Initial Catalog=FoxTunes" />
    <!-- Use TagLibMetaDataSourceFactory -->
    <add key="7339A28B-94CA-454D-811F-A8EF61663AD2" value="679D9459-BBCE-4D95-BB65-DD20C335719C" />
    <!-- Use FileNameMetaDataSourceFactory -->
    <!--<add key="7339A28B-94CA-454D-811F-A8EF61663AD2" value="BDAAF3E1-84CC-4D36-A7CB-278663E65844"/>-->
  </appSettings>
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
